<head>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<script src="js/board.js" type="text/javascript"></script>
</head>

<body onload="hideInputs(); disableButton();">
<form method="post" id="bigform" action="board">

    <div class='board' id='board'>
        <h1> YOUR BOARD </h1>
        <table style="float:left; color:blue" id="table">
        <th></th>
        <%board.grid.length.times do |v|%>
            <th><%=v%></th>   
        <%end%>
            <%board.grid.each_with_index do |row, indx|%> 
                <tr>
                <th><%=indx%></th>
                    <%row.each_with_index do |v, i|%>
                        <th><button  class="my_button" id="mybutton<%="#{indx}#{i}"%>" name="my_cell[]" value="<%=[indx, i]%>"><%=v%></button></th>
                    <%end%>
                </tr>
            <%end%>
        </table>
    </div>

    <div class='nme_board' id='nme_board' >
    <h1 style="position:absolute; right:0; top:-13" > ENEMY BOARD </h1>
        <table style="float:right; color:red" id="nme_table">
        
        <th></th>
        <%nme_board.grid.length.times do |v|%>
            <th><%=v%></th>   
        <%end%>
            <%nme_board.grid.each_with_index do |row, indx|%> 
                <tr>
                <th><%=indx%></th>
                    <%row.each_with_index do |v, i|%>
                        
                        <th><button class="cell_button" id="cellbutton<%="#{indx}#{i}"%>" name="grid_cell[]" value="<%=[indx, i]%>"><%=v.e_to_s%></button></th>
                 
                    <%end%>
                </tr>
            <%end%>
        </table>
    </div>
    <div name="hitter">
        <h2><%=hitter%></h2>
    </div>
    <%max_num = board.grid.length - 1%>
    <h1><%=ending%></h1>
        <div class="input" id="input">
            <input type="radio" name="orientation" id="hor_button" value="horizontal">HORIZONTAL
            <input type="radio" name="orientation" id="vert_button" value="vertical">VERTICAL
            <input type='hidden' name='ship_num' value='<%=ship_num%>' id="ship_num">
            <div id="error"><%=err%></div>
        </div>
    </form>
    


</body>