<head>
</head>

<body>
    <div class='board' id='board'>
        <table style="float:left; color:blue" id="table">
        <th></th>
        <%board.grid.length.times do |v|%>
            <th><%=v%></th>   
        <%end%>
            <%board.grid.each_with_index do |row, indx|%> 
                <tr>
                <th><%=indx%></th>
                    <%row.each_with_index do |v, i|%>
                        <th><%=v%></th>
                    <%end%>
                </tr>
            <%end%>
        </table>
    </div>

    <div class='nme_board' id='nme_board'>
        <table style="float:right; color:red" id="nme_table">
        <th></th>
        <%nme_board.grid.length.times do |v|%>
            <th><%=v%></th>   
        <%end%>
            <%nme_board.grid.each_with_index do |row, indx|%> 
                <tr>
                <th><%=indx%></th>
                    <%row.each_with_index do |v, i|%>
                        <th><%=v.e_to_s%></th>
                    <%end%>
                </tr>
            <%end%>
        </table>
    </div>

    <form method="post" action="board">
        <div class="input">
            <input type="number" name="row" placeholder="ROW" max=35>
            <input type="number" name="col" placeholder="COLUMN" max=35>
            <input type="text" name="orientation" placeholder="Horizontal/Vertical">
            <input type='hidden' name='ship_num' value='<%=ship_num%>' id="ship_num">
            <%=err%>
            <button class="button">ENTER</button>
        </div>
    </form>


</body>